@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap');

@font-face {
    font-family: 'Material Icons Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialiconsoutlined/v107/gok-H7zzDkdnRel8-DQ6KAXJ69wP1tGnf4ZGhUce.woff2) format('woff2');
}

.material-icons-outlined {
    font-family: 'Material Icons Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 36px;
    // line-height: 1.5;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}

// 基本設定
*,*::before,*::after {
    box-sizing: border-box;
}

// * {
//     outline: 1px solid black;
// }

body {
    line-height: 1.5;
    font-family: "Roboto", "Noto Sans TC", "sans-serif";
    font-size: 16px;
}

// rwd img css
img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.text-white {
    color: white;
}

.text-primary {
    color: $color-primary;
}

.text-secondary {
    color: $color-secondary;
}

.text-italic {
    font-style: italic;
}

.text-medium {
    font-weight: 500;
}

.text-bold {
    font-weight: bold;
}

.text-black {
    font-weight: 900;
}

.text-center {
    text-align: center;
}