.banner {
  background-image: url("../images/home-header.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include pad() {
    background-image: url("../images/home-header-sm.png");
  }
  

  &-text {
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    h1 {
      font-size: 64px;
      @include mobile() {
        font-size: 24px;
        margin-bottom: 8px;
      }
    }

    h3 {
      font-size: 36px;
      @include mobile() {
        font-size: 16px;
      }
    }

    a {
      display: block;
      background-color: $color-primary;
      padding: 6px 12px;
      font-size: 20px;
      &:hover {
        background-color: $color-secondary;
      }
    }
  }
}

.title-sub {
  margin-bottom: 24px;
  font-size: 48px;
  @include mobile() {
    font-size: 24px;
  }
}

// 服務
.service {
  @include block-padding;
  background-color: $color-pink;
  
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

    li {
      width: 23%;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include pad() {
        width: 48%;
      }
      @include mobile() {
        width: 98%;
      }

      img {
        max-width: 100px;
        margin-bottom: 16px;
      }
      h3 {
        font-size: 24px;
        margin-bottom: 8px;
      }
    }
  }
}

// 經典
.classic {
  @include block-padding;
  h2 {
    margin-bottom: 48px;
    @include mobile() {
      margin-bottom: 24px;
    }
  }
  h3 {
    font-size: 48px;
  }
  ul {
    display: flex;
    gap: 24px;
    @include pad() {
      flex-direction: column;
      align-items: center;
    }
    li {
      width: 32%;
      @include pad() {
        width: 48%;
      }
      @include mobile() {
        width: 98%;
      }
    }
  }
  img {
    margin-bottom: 8px;
    &:hover {
      transform: scale(1.1);
    }
  }
}

// 聯名
.joint {
  background-image: url("../images/index-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @include block-padding;
  h2 {
    margin-bottom: 48px;
    @include mobile() {
      margin-bottom: 24px;
    }
  }
  h3 {
    font-size: 48px;
  }
  &-img {
    &-1 {
      background-image: url("../images/home-section4-1.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 240px;
      @include mobile() {
        background-image: url("../images/home-section4-1-sm.png");
      }
      &:hover {
        transform: scale(1.1);
      }
    }
    &-2 {
      background-image: url("../images/home-section4-2.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 240px;
      @include mobile() {
        background-image: url("../images/home-section4-2-sm.png");
      }
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    @include pad() {
      gap: 24px;
    }

    li {
      width: 50%;
      @include pad() {
        width: 100%;
      }
    }

    h3 {
      padding: 8px 0;
      background-color: white;
    }
  }

}

// 顧客推薦
.recommend {
  @include block-padding;
  h2 {
    margin-bottom: 48px;
    @include mobile() {
      margin-bottom: 24px;
    }
  }
  
  &-body {
    padding: 16px;
    box-shadow: 0px 2px 6px #00000029;
    border: 1px solid #DEE2E6;
    border-radius: 4px;
    height: 205px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-content {
      margin-top: 8px;
    }
    &-date {
      font-size: 14px;
      color: #707070;
    }
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    li {
      width: 23%;
      @include pad() {
        width: 48%;
      }
      @include mobile() {
        width: 98%;
      }
    }
  }

}

// 聯絡我們
.contact-us {
  @include block-padding;
  background-color: $color-pink;
  h2 {
    margin-bottom: 48px;
    @include mobile() {
      margin-bottom: 24px;
    }
  }

  &-main {
    width: 33.33%;
    @include pad() {
      width: 80%;
    }
    @include mobile() {
      width: 100%;
    }

    h3 {
      font-size: 20px;
      margin-bottom: 24px;
      @include mobile() {
        font-size: 16px;
      }
    }

    input[type='text'], textarea {
      width: 100%;
      padding: 6px 12px;
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 16px;
      background-color: transparent;
    }

    label {
      display: block;
      margin-bottom: 8px;
    }
  }

  &-agree {
    display: flex;
    align-items: center;
    margin-bottom: 48px;

    @include mobile() {
      align-items: flex-start;
    }
    
    input[type='checkbox'] {
      width: 24px;
      height: 24px;
      margin-right: 4px;
      
    }
  }

  a {
    display: block;
    background-color: $color-primary;
    padding: 16px 0;
    width: 60%;
    margin: 0 auto;
    @include mobile() {
      width: 100%;
    }
    &:hover {
      background-color: $color-secondary;
    }
  }

}