/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Material Icons Outlined';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialiconsoutlined/v107/gok-H7zzDkdnRel8-DQ6KAXJ69wP1tGnf4ZGhUce.woff2) format("woff2"); }

.material-icons-outlined {
  font-family: 'Material Icons Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 36px;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  line-height: 1.5;
  font-family: "Roboto", "Noto Sans TC", "sans-serif";
  font-size: 16px; }

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none; }

.text-white {
  color: white; }

.text-primary {
  color: #AA0601; }

.text-secondary {
  color: #650300; }

.text-italic {
  font-style: italic; }

.text-medium {
  font-weight: 500; }

.text-bold {
  font-weight: bold; }

.text-black {
  font-weight: 900; }

.text-center {
  text-align: center; }

.page-title {
  font-size: 48px;
  padding-left: 16px;
  border-left: 8px solid #AA0601;
  margin-bottom: 32px; }
  @media (max-width: 767px) {
    .page-title {
      font-size: 24px;
      margin-bottom: 24px; } }

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 992px) {
    .pagination {
      margin-top: 40px;
      margin-bottom: 24px; } }
  .pagination li {
    border: 1px solid #555555;
    border-right: 0; }
    .pagination li:last-child {
      border: 1px solid #555555; }
  .pagination a {
    display: block;
    font-size: 18px;
    color: #555555;
    padding: 12px 16px; }
    @media (max-width: 767px) {
      .pagination a {
        font-size: 16px;
        padding: 8px 10px; } }
    .pagination a:hover {
      background-color: #F2F2F2; }
    .pagination a.active {
      background-color: black;
      color: white; }

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px; }
  @media (max-width: 992px) {
    .container {
      max-width: 720px; } }
  @media (max-width: 767px) {
    .container {
      max-width: 373px; } }

.header {
  background-color: #AA0601; }
  .header .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 767px) {
      .header .nav {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
    .header .nav img {
      max-width: 80px; }
    .header .nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      @media (max-width: 767px) {
        .header .nav ul {
          display: none;
          width: 100%; } }
      .header .nav ul a {
        display: block;
        padding: 25px 32px 25px 32px;
        font-size: 20px; }
        .header .nav ul a:hover {
          color: #650300; }
          @media (max-width: 767px) {
            .header .nav ul a:hover {
              color: white;
              background-color: #650300; } }
      .header .nav ul li:last-child a {
        padding-right: 0; }
  .header-menu-icon {
    display: none; }
    @media (max-width: 767px) {
      .header-menu-icon {
        display: block;
        padding-top: 20px;
        padding-bottom: 20px; }
        .header-menu-icon span {
          font-size: 40px;
          line-height: 1; } }

.footer {
  background-color: #AA0601;
  padding: 48px 0 32px 0; }
  @media (max-width: 767px) {
    .footer {
      padding: 24px 0; } }
  .footer-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 24px; }
    .footer-link-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 48px; }
      @media (max-width: 767px) {
        .footer-link-menu {
          display: none; } }
      .footer-link-menu a {
        display: block;
        padding: 12px 0px; }
        .footer-link-menu a:hover {
          color: #650300; }
    .footer-link-social {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 32px; }
      @media (max-width: 767px) {
        .footer-link-social {
          gap: 8px; } }
      .footer-link-social img {
        max-width: 48px; }
        @media (max-width: 992px) {
          .footer-link-social img {
            max-width: 40px; } }
        @media (max-width: 767px) {
          .footer-link-social img {
            max-width: 24px; } }
        .footer-link-social img:hover {
          -webkit-transform: scale(1.1);
              -ms-transform: scale(1.1);
                  transform: scale(1.1); }
    .footer-link-contact {
      margin-bottom: 32px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      gap: 8px; }
      @media (max-width: 767px) {
        .footer-link-contact {
          margin-bottom: 24px; } }
      .footer-link-contact h3 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-size: 36px; }
        @media (max-width: 767px) {
          .footer-link-contact h3 {
            font-size: 16px; } }
        .footer-link-contact h3 span {
          margin-right: 16px; }
          @media (max-width: 767px) {
            .footer-link-contact h3 span {
              font-size: 16px; } }
        .footer-link-contact h3 a:hover {
          color: #650300; }
  .footer hr {
    margin-top: 0;
    margin-bottom: 32px; }
    @media (max-width: 767px) {
      .footer hr {
        margin-bottom: 16px; } }
  @media (max-width: 767px) {
    .footer-main {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse; } }
  .footer-copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 767px) {
      .footer-copyright {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        gap: 8px; } }
    .footer-copyright ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 48px; }
      @media (max-width: 767px) {
        .footer-copyright ul {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          gap: 8px; } }
      .footer-copyright ul a {
        font-size: 14px; }
        @media (max-width: 767px) {
          .footer-copyright ul a {
            font-size: 16px; } }
        .footer-copyright ul a:hover {
          color: #650300; }

.banner {
  background-image: url("../images/home-header.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  @media (max-width: 992px) {
    .banner {
      background-image: url("../images/home-header-sm.png"); } }
  .banner-text {
    height: calc(100vh - 80px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
    .banner-text h1 {
      font-size: 64px; }
      @media (max-width: 767px) {
        .banner-text h1 {
          font-size: 24px;
          margin-bottom: 8px; } }
    .banner-text h3 {
      font-size: 36px; }
      @media (max-width: 767px) {
        .banner-text h3 {
          font-size: 16px; } }
    .banner-text a {
      display: block;
      background-color: #AA0601;
      padding: 6px 12px;
      font-size: 20px; }
      .banner-text a:hover {
        background-color: #650300; }

.title-sub {
  margin-bottom: 24px;
  font-size: 48px; }
  @media (max-width: 767px) {
    .title-sub {
      font-size: 24px; } }

.service {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #FBF2F2; }
  @media (max-width: 767px) {
    .service {
      padding-top: 40px;
      padding-bottom: 40px; } }
  .service ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 24px; }
    .service ul li {
      width: 23%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      @media (max-width: 992px) {
        .service ul li {
          width: 48%; } }
      @media (max-width: 767px) {
        .service ul li {
          width: 98%; } }
      .service ul li img {
        max-width: 100px;
        margin-bottom: 16px; }
      .service ul li h3 {
        font-size: 24px;
        margin-bottom: 8px; }

.classic {
  padding-top: 80px;
  padding-bottom: 80px; }
  @media (max-width: 767px) {
    .classic {
      padding-top: 40px;
      padding-bottom: 40px; } }
  .classic h2 {
    margin-bottom: 48px; }
    @media (max-width: 767px) {
      .classic h2 {
        margin-bottom: 24px; } }
  .classic ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 24px; }
    @media (max-width: 992px) {
      .classic ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
    .classic ul li {
      width: 32%; }
      @media (max-width: 992px) {
        .classic ul li {
          width: 48%; } }
      @media (max-width: 767px) {
        .classic ul li {
          width: 98%; } }
      .classic ul li:hover {
        -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
                transform: scale(1.1); }
        .classic ul li:hover h3 {
          background-color: #AA0601;
          color: white; }
    .classic ul h3 {
      font-size: 48px; }
    .classic ul img {
      margin-bottom: 8px; }

.joint {
  background-image: url("../images/index-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 80px;
  padding-bottom: 80px; }
  @media (max-width: 767px) {
    .joint {
      padding-top: 40px;
      padding-bottom: 40px; } }
  .joint h2 {
    margin-bottom: 48px; }
    @media (max-width: 767px) {
      .joint h2 {
        margin-bottom: 24px; } }
  .joint h3 {
    font-size: 48px; }
  .joint-img-1 {
    background-image: url("../images/home-section4-1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 240px; }
    @media (max-width: 767px) {
      .joint-img-1 {
        background-image: url("../images/home-section4-1-sm.png"); } }
  .joint-img-2 {
    background-image: url("../images/home-section4-2.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 240px; }
    @media (max-width: 767px) {
      .joint-img-2 {
        background-image: url("../images/home-section4-2-sm.png"); } }
  .joint ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media (max-width: 992px) {
      .joint ul {
        gap: 24px; } }
    .joint ul li {
      width: 50%; }
      @media (max-width: 992px) {
        .joint ul li {
          width: 100%; } }
      .joint ul li:hover {
        -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
                transform: scale(1.1); }
    .joint ul h3 {
      padding: 8px 0;
      background-color: white; }

.recommend {
  padding-top: 80px;
  padding-bottom: 80px; }
  @media (max-width: 767px) {
    .recommend {
      padding-top: 40px;
      padding-bottom: 40px; } }
  .recommend h2 {
    margin-bottom: 48px; }
    @media (max-width: 767px) {
      .recommend h2 {
        margin-bottom: 24px; } }
  .recommend-body {
    padding: 16px;
    -webkit-box-shadow: 0px 2px 6px #00000029;
            box-shadow: 0px 2px 6px #00000029;
    border: 1px solid #DEE2E6;
    border-radius: 4px;
    height: 205px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .recommend-body-content {
      margin-top: 8px; }
    .recommend-body-date {
      font-size: 14px;
      color: #707070; }
  .recommend ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 24px; }
    .recommend ul li {
      width: 23%; }
      @media (max-width: 992px) {
        .recommend ul li {
          width: 48%; } }
      @media (max-width: 767px) {
        .recommend ul li {
          width: 98%; } }

.contact-us {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #FBF2F2; }
  @media (max-width: 767px) {
    .contact-us {
      padding-top: 40px;
      padding-bottom: 40px; } }
  .contact-us h2 {
    margin-bottom: 48px; }
    @media (max-width: 767px) {
      .contact-us h2 {
        margin-bottom: 24px; } }
  .contact-us-main {
    width: 33.33%; }
    @media (max-width: 992px) {
      .contact-us-main {
        width: 80%; } }
    @media (max-width: 767px) {
      .contact-us-main {
        width: 100%; } }
    .contact-us-main h3 {
      font-size: 20px;
      margin-bottom: 24px; }
      @media (max-width: 767px) {
        .contact-us-main h3 {
          font-size: 16px; } }
    .contact-us-main input[type='text'], .contact-us-main input[type='tel'], .contact-us-main input[type='email'], .contact-us-main textarea {
      width: 100%;
      padding: 6px 12px;
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 16px;
      background-color: transparent; }
    .contact-us-main label {
      display: block;
      margin-bottom: 8px; }
  .contact-us-agree {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 48px; }
    @media (max-width: 767px) {
      .contact-us-agree {
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start; } }
    .contact-us-agree input[type='checkbox'] {
      width: 24px;
      height: 24px;
      margin-right: 4px; }
  .contact-us a {
    display: block;
    background-color: #AA0601;
    padding: 16px 0;
    width: 60%;
    margin: 0 auto; }
    @media (max-width: 767px) {
      .contact-us a {
        width: 100%; } }
    .contact-us a:hover {
      background-color: #650300; }

.product-menu {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px; }
  @media (max-width: 992px) {
    .product-menu {
      padding: 0; } }
  .product-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .product-menu ul li {
      width: 100%;
      border-left: 1px solid #DCDCDC; }
      .product-menu ul li:last-child {
        border-right: 1px solid #DCDCDC; }
      .product-menu ul li a {
        display: block;
        padding: 24px 0;
        font-size: 32px;
        color: black;
        border-bottom: 1px solid transparent; }
        @media (max-width: 992px) {
          .product-menu ul li a {
            font-size: 24px;
            padding: 16px 0; } }
        @media (max-width: 767px) {
          .product-menu ul li a {
            font-size: 16px;
            padding: 16px 0; } }
        .product-menu ul li a.active, .product-menu ul li a:hover {
          border-bottom: 8px solid #AA0601; }

.product-header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.product-header-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 296px;
  width: 50%; }

.product-header-1 {
  background-image: url("../images/product-header-1.png"); }
  @media (max-width: 992px) {
    .product-header-1 {
      background-image: url("../images/product-header-sm-1.png"); } }

.product-header-2 {
  background-image: url("../images/product-header-2.png"); }
  @media (max-width: 992px) {
    .product-header-2 {
      background-image: url("../images/product-header-sm-2.png"); } }

.product-header-3 {
  background-image: url("../images/product-header-3.png"); }
  @media (max-width: 992px) {
    .product-header-3 {
      background-image: url("../images/product-header-sm-3.png"); } }

.product-header-4 {
  background-image: url("../images/product-header-4.png"); }
  @media (max-width: 992px) {
    .product-header-4 {
      background-image: url("../images/product-header-sm-4.png"); } }

.product {
  padding-top: 80px;
  padding-bottom: 80px; }
  @media (max-width: 767px) {
    .product {
      padding-top: 40px;
      padding-bottom: 40px; } }
  .product h1 {
    font-size: 42px; }
    @media (max-width: 767px) {
      .product h1 {
        font-size: 24px; } }
  .product h2 {
    font-size: 32px;
    margin-bottom: 32px; }
    @media (max-width: 767px) {
      .product h2 {
        font-size: 24px;
        margin-bottom: 24px; } }
  .product-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -12px; }
    .product-list > li {
      padding: 0 12px;
      margin-bottom: 80px; }
    .product-list img:hover {
      opacity: 0.5; }
  .product-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .product-body p {
      font-size: 24px; }
  .product-color {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 8px; }
  .product-dark {
    background-color: #5F3E2D;
    border-radius: 4px;
    width: 24px;
    height: 24px; }
    .product-dark:hover {
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1); }
  .product-light {
    background-color: #B75929;
    border-radius: 4px;
    width: 24px;
    height: 24px; }
    .product-light:hover {
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1); }

.product-optical .product-list > li {
  width: 25%; }
  @media (max-width: 992px) {
    .product-optical .product-list > li {
      width: 50%;
      margin-bottom: 40px; } }
  @media (max-width: 767px) {
    .product-optical .product-list > li {
      width: 100%;
      margin-bottom: 24px; } }

.product-sunglasses .product-list > li {
  width: 33.33%; }
  @media (max-width: 992px) {
    .product-sunglasses .product-list > li {
      width: 50%;
      margin-bottom: 40px; } }
  @media (max-width: 767px) {
    .product-sunglasses .product-list > li {
      width: 100%;
      margin-bottom: 24px; } }

.store-menu .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px; }

.store-menu label {
  font-size: 24px;
  margin-right: 16px; }
  @media (max-width: 767px) {
    .store-menu label {
      font-size: 16px; } }

.store-menu select {
  font-size: 18px;
  padding: 6px 12px;
  width: 30%; }
  @media (max-width: 767px) {
    .store-menu select {
      width: 60%; } }

.store {
  padding-top: 96px;
  padding-bottom: 80px; }
  @media (max-width: 992px) {
    .store {
      padding-top: 80px; } }
  @media (max-width: 767px) {
    .store {
      padding-top: 40px;
      padding-bottom: 64px; } }
  .store-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -12px;
    margin-bottom: -48px; }
    @media (max-width: 992px) {
      .store-list {
        margin-bottom: -24px; } }
    @media (max-width: 767px) {
      .store-list {
        margin-bottom: 0; } }
    .store-list li {
      padding: 0 12px;
      width: 33.33%;
      margin-bottom: 48px; }
      @media (max-width: 992px) {
        .store-list li {
          width: 48%;
          margin-bottom: 24px; } }
      @media (max-width: 767px) {
        .store-list li {
          width: 98%; } }
      .store-list li .btn {
        display: block;
        padding: 16px 0;
        background-color: black;
        font-size: 19px; }
        .store-list li .btn:hover {
          opacity: 0.5; }
  .store-title {
    font-size: 24px;
    padding: 8px 24px;
    border: 1px solid #00000020; }
  .store-body {
    padding: 16px 24px;
    font-size: 20px;
    border: 1px solid #00000020;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 8px; }
    .store-body a {
      display: block;
      color: black; }
    .store-body p, .store-body a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      gap: 8px; }
    .store-body .icon {
      font-size: 24px;
      line-height: 1;
      padding: 3px; }

.store-introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px; }
  @media (max-width: 992px) {
    .store-introduction {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .store-introduction-main {
    width: 40%; }
    @media (max-width: 992px) {
      .store-introduction-main {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 24px; }
        .store-introduction-main img {
          width: 50%; } }
    @media (max-width: 767px) {
      .store-introduction-main {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 0px; }
        .store-introduction-main img {
          width: 100%; } }
  .store-introduction-map {
    width: 58%;
    height: 414px; }
    @media (max-width: 992px) {
      .store-introduction-map {
        width: 100%; } }
    @media (max-width: 767px) {
      .store-introduction-map {
        height: 208px; } }

.fqa {
  padding-top: 96px;
  padding-bottom: 80px; }
  @media (max-width: 992px) {
    .fqa {
      padding-top: 80px; } }
  @media (max-width: 767px) {
    .fqa {
      padding-top: 40px;
      padding-bottom: 64px; } }
  .fqa h2 {
    font-size: 24px;
    margin-bottom: 24px; }
  .fqa ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 32px; }
    @media (max-width: 767px) {
      .fqa ul {
        gap: 24px; } }
    .fqa ul li h3 {
      font-size: 20px;
      margin-bottom: 8px; }

.blog-menu {
  background-color: #650300; }
  .blog-menu .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 20px; }
    @media (max-width: 767px) {
      .blog-menu .nav {
        display: none; } }
    .blog-menu .nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .blog-menu .nav ul a {
        display: block;
        padding: 13px 48px 13px 0; }
        .blog-menu .nav ul a:hover {
          color: #FBF2F2; }
  .blog-menu .icon {
    font-size: 40px;
    line-height: 1;
    padding: 8px 0; }
    .blog-menu .icon:hover {
      color: #FBF2F2; }

.blog {
  padding-top: 96px;
  padding-bottom: 80px; }
  @media (max-width: 992px) {
    .blog {
      padding-top: 80px; } }
  @media (max-width: 767px) {
    .blog {
      padding-top: 40px;
      padding-bottom: 64px; } }
  .blog-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 60px;
    margin-bottom: 124px; }
    @media (max-width: 992px) {
      .blog-list {
        margin-top: 8px;
        gap: 8px;
        margin-bottom: 80px; } }
    @media (max-width: 767px) {
      .blog-list {
        gap: 24px;
        margin-bottom: 64px; } }
    .blog-list li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 24px; }
      @media (max-width: 767px) {
        .blog-list li {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          gap: 8px; } }
  .blog-img {
    display: block;
    width: 50%; }
    @media (max-width: 992px) {
      .blog-img {
        height: calc(50% - 16px); } }
    @media (max-width: 767px) {
      .blog-img {
        width: 100%; } }
    .blog-img:hover {
      opacity: 0.8; }
  .blog-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 50%; }
    @media (max-width: 767px) {
      .blog-body {
        width: 100%; } }
  @media (max-width: 767px) {
    .blog-info {
      width: 100%; } }
  .blog-info h2 {
    font-size: 32px; }
    @media (max-width: 992px) {
      .blog-info h2 {
        font-size: 24px; } }
  .blog-info-subtitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 16px; }
    .blog-info-subtitle h3 {
      font-size: 20px; }
      @media (max-width: 992px) {
        .blog-info-subtitle h3 {
          font-size: 16px; } }
  .blog-info-content {
    font-size: 20px;
    color: #555555; }
    @media (max-width: 992px) {
      .blog-info-content {
        font-size: 16px;
        overflow: hidden;
        -o-text-overflow: ellipsis;
           text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 6; } }
    @media (max-width: 767px) {
      .blog-info-content {
        display: none; } }
  .blog-info-more {
    display: block;
    font-size: 36px; }
    @media (max-width: 992px) {
      .blog-info-more {
        width: 4rem;
        font-size: 16px;
        font-weight: normal;
        color: #555555;
        background-color: white;
        -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
                transform: translateY(-100%);
        text-align: right; }
        .blog-info-more::before {
          content: '...'; } }
    @media (max-width: 767px) {
      .blog-info-more {
        display: none; } }
    .blog-info-more:hover {
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1); }
      @media (max-width: 992px) {
        .blog-info-more:hover {
          -webkit-transform: translateY(-100%);
              -ms-transform: translateY(-100%);
                  transform: translateY(-100%);
          color: black;
          text-decoration: underline;
          font-weight: bold; } }

.bread-crumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px; }
  .bread-crumbs a {
    color: black; }
    .bread-crumbs a:hover {
      color: #AA0601; }
    .bread-crumbs a.active {
      color: #AA0601; }
  .bread-crumbs span {
    margin: 4px; }

.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  font-size: 24px;
  margin-bottom: 8px; }
  @media (max-width: 767px) {
    .tags {
      font-size: 16px; } }
  .tags a:hover {
    color: #650300; }

.blog-page {
  padding-top: 24px;
  padding-bottom: 80px; }
  @media (max-width: 992px) {
    .blog-page {
      padding-top: 8px; } }
  @media (max-width: 767px) {
    .blog-page {
      padding-top: 16px;
      padding-bottom: 64px; } }
  .blog-page-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 24px; }
  .blog-page-content {
    width: 66%; }
    @media (max-width: 992px) {
      .blog-page-content {
        width: 75%; } }
    @media (max-width: 767px) {
      .blog-page-content {
        width: 100%; } }
    .blog-page-content h1 {
      font-size: 48px; }
      @media (max-width: 767px) {
        .blog-page-content h1 {
          font-size: 24px; } }
    .blog-page-content h2 {
      font-size: 24px;
      margin-bottom: 16px; }
      @media (max-width: 992px) {
        .blog-page-content h2 {
          margin-bottom: 24px; } }
      @media (max-width: 767px) {
        .blog-page-content h2 {
          font-size: 16px;
          margin-bottom: 16px; } }
    .blog-page-content ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      gap: 40px;
      margin-bottom: 40px; }
      @media (max-width: 992px) {
        .blog-page-content ul {
          gap: 24px; } }
      @media (max-width: 767px) {
        .blog-page-content ul {
          gap: 16px;
          margin-bottom: 0; } }
    .blog-page-content img {
      margin-bottom: 8px; }
      @media (max-width: 992px) {
        .blog-page-content img {
          margin-bottom: 16px; } }
      @media (max-width: 767px) {
        .blog-page-content img {
          margin-bottom: 8px; } }
    .blog-page-content p {
      color: #555555; }

.blog-page-tags {
  width: 25%; }
  @media (max-width: 992px) {
    .blog-page-tags {
      width: 23%; } }
  @media (max-width: 767px) {
    .blog-page-tags {
      display: none; } }
  .blog-page-tags h2 {
    font-size: 32px; }
    @media (max-width: 992px) {
      .blog-page-tags h2 {
        font-size: 16px;
        margin-bottom: 8px; } }
  .blog-page-tags-icon {
    font-size: 48px;
    line-height: 1;
    vertical-align: middle;
    margin-right: 8px; }
    @media (max-width: 992px) {
      .blog-page-tags-icon {
        font-size: 24px;
        margin-right: 0; } }
  .blog-page-tags-list {
    font-size: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 4px; }
    @media (max-width: 992px) {
      .blog-page-tags-list {
        gap: 0; } }
    .blog-page-tags-list li {
      margin-right: 20px; }
      @media (max-width: 992px) {
        .blog-page-tags-list li {
          margin-right: 24px; } }
    .blog-page-tags-list a {
      display: block; }
      @media (max-width: 992px) {
        .blog-page-tags-list a {
          font-size: 16px; } }

@media (max-width: 767px) {
  .blog-page-footer {
    display: none; } }

.blog-page-footer-btn {
  display: block;
  color: black; }
  .blog-page-footer-btn:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }

.blog-page-footer img {
  max-width: 24px; }
  .blog-page-footer img:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }

.blog-page-footer-share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  padding-bottom: 16px;
  margin-bottom: 24px;
  border-bottom: 1px solid #707070; }

.blog-page-footer-changed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.blog-page-footer-icon {
  font-size: 24px;
  line-height: 1;
  vertical-align: middle; }

.blog-page-footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  color: black; }
  .blog-page-footer-link:hover {
    color: #AA0601; }

/*# sourceMappingURL=all.css.map */
